body {
    background-color: #F5DCC9;
    color: #3d4f42;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#menu {
    font-weight: bold;
    font-size: 13.2;
}

a {
    color:#47915b;
}

a:hover {
    text-decoration: none;
    color: #19e6de;

}

h1 {
    text-align: center;
}


#foto {
    float: left;
    margin: 40px;
    border: 20px solid #f5ac72;
    border-radius: 20px;
}


#texto {
    text-align: justify;
    margin: 50px;
    position: left;
}


.corpo-texto {
    font-family: monospace;
    font-size: 12.8;
}


#lista-skills {
    font-family: monospace;
    font-size: 12;
}


#refs {
    background-color: #F8BD7F;
}


#lista-sites {
    font-family: monospace;
    background-color: #F8BD7F;
}